@(add: Form[UpdateCartItemForm], product: Seq[Product], cart: Seq[Cart])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(routes.CartItemController.updateCartItemHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@add("id").value" type="hidden" />

    <select name="productId" id="productId">
    @for(u <- product){
        <option value="@u.id" selected>@u.name</option>
    }
    </select>

    <select name="cardId" id="cardId">
    @for(c <- cart){
        <option value="@c.id">@c.id</option>
    }
    </select>

    @inputText(add("quantity"))

    <div class="buttons">
        <input type="submit" value="Add"/>
    </div>
}